<div class="container">
    <h1 id="title"><strong>CREER VOTRE COMPTE </strong></h1>
    <div class="row">
        <div class="col lg-6" id="lef">
            <i class="fa-solid fa-users fa-6x" ></i>
            <h1>Avez vous l'envie de découvrir des endroits extraordinaire que vous n'avez jamais visiter? Participez à des excursions</h1>
            <a href="/inscrire"><button class="btn btn-danger">CLIENT</button></a>
        </div>
        <div class="col lg-6">
            <i class="fa-solid fa-user-tie fa-6x"></i>
            <h1>Vous êtes un organisateur amateur ou une agence et vous voulez organiser des excursions sur notre plateforme? Rejoignez nous</h1>
            <a href="/organisateur"><button class="btn btn-danger">ORGANISATEUR</button></a>
        </div>
    </div>
</div>