<table class="table table-hover">
  <thead>
<div style="margin-top: -10px;" class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-5">
          <h2>Liste <b>des participants</b></h2>
        </div>
        <div class="col-xs-7">
          <a (click)="toAdd()" class="btn btn-danger"><i class="material-icons">&#xE147;</i> <span>Creer Nouveau
              Client</span></a>
        </div>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>prenom</th>
          <th>numéro de téléphone</th>
         
          <th></th>
        </tr>
      </thead>
      <tbody>
  
             <tr *ngFor="let ex of excursion.client">  
              <td>{{ex.prenom}}</td>
              <td></td>
              <td> 
            <a  (click)="clientDetails(clients._id)" class="view" title="Consulter" data-toggle="tooltip"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a  class="edit" (click)="edit(clients._id)" title="Modifier" data-toggle="tooltip"><i
                class="material-icons">&#xE254;</i></a>
            <a  class="delete" (click)="deleteClient(clients)" title="Supprimer" data-toggle="tooltip"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </td>
        </tr>
      
      </tbody>
    </table> 
   
  