
<div class="container">
    <h1><strong>CREER VOTRE COMPTE </strong></h1> 
    <form [formGroup]="organisateurForm">
        <div  class ="submit-form">
            <div class="form-group mb-3">
                <select id="type"  class="form-control" formControlName="type"
                >
                    <option value="">--Choisr votre type--</option>
                    <option disabled selected>type</option>
                  <option value="Organisateur amateur" >Organisateur amateur</option>
                  <option value="Agence">Agence</option>
                </select>
            </div>

                <div>
                    <div class="np">
                        <div class="form-group mb-3" id="name">
                            <input 
                                [ngClass]="{'invalid' : organisateurForm.controls['name'].invalid && submitted}"
                                type="text"
                                class="form-control"
                                formControlName="name"
                                placeholder="Nom"
                            />
                        </div>

                        <div *ngIf="organisateurForm.controls['type'].value === 'Organisateur amateur'" class="form-group mb-3" id="prenom">
                            <input
                                [ngClass]="{'invalid' : organisateurForm.controls['prenom'].invalid && submitted}"
                                class="form-control"
                                formControlName="prenom"
                                placeholder="Prenom"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                <div *ngIf="organisateurForm.controls['type'].value === 'Organisateur amateur'" >
                
                    <select id="genre" formControlName="genre" class="form-control" [ngClass]="{'invalid' : organisateurForm.controls['genre'].invalid && submitted}"
                    >
                        <optgroup label="Genre">
                      <option value="homme" >Homme</option>
                      <option value="femme">Femme</option></optgroup>
                    </select>
                </div></div>
                <div class="form-group mb-3">
                    <input 
                        [ngClass]="{'invalid' : organisateurForm.controls['numtel'].invalid && submitted}"
                        class="form-control"
                        id="numtel"
                        formControlName="numtel"
                        placeholder="Numéro Télèphonique"
                    />
                </div>

                <div class="input-group mb-3">
                    <input 
                        [ngClass]="{'invalid' : organisateurForm.controls['email'].invalid && submitted}"
                        type="text" 
                        class="form-control" 
                        placeholder="Email" 
                        id="debut-email"
                        formControlName="email"
                        />
                    <div class="input-group-append">
                        <span class="input-group-text" aria-label="fin de mail">@example.com</span>
                    </div>
                </div>

                <!-- <label >Entrer votre piece d'identité:</label>
                <div class="input-group mb-3">  
                    <input 
                        class="form-control"
                        id="piece"
                        (change)="uploadFile($event)"
                        type="file"
                    />
                </div> -->

                <div class="form-group mb-3">
                    <input 
                        [ngClass]="{'invalid' : organisateurForm.controls['addresse'].invalid && submitted}"
                        class="form-control"
                        id="addresse"
                        formControlName="addresse"
                        placeholder="Addresse"
                    />
                </div>
                <div class="form-group mb-3">
                    <input 
                        [ngClass]="{'invalid' : organisateurForm.controls['username'].invalid && submitted}"
                        class="form-control"
                        id="username"
                        formControlName="username"
                        placeholder="Username"
                    />
                </div>

                <div class="form-group mb-3">
                    <input 
                        [ngClass]="{'invalid' : organisateurForm.controls['mdp'].invalid && submitted}"
                        class="form-control"
                        id="mdp"
                        type="password"
                        formControlName="mdp"
                        placeholder="Nouveau mot de passe"
                    />
                </div>
                <div class="col-md-12 text-center">
                <button (click)="saveorganisateur()" class="btn btn-danger" >S'inscrire</button></div>
        </div>
    </form>
     
</div>